<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>breakoTime</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>defaultBreaks</param-name>
    <param-value>10:45,14:45,17:15</param-value>
  </context-param>
  <servlet>
    <servlet-name>AmCoffe</servlet-name>
    <servlet-class>com.acme.servlet.BreakServlet</servlet-class>
    <init-param>
      <param-name>breakTime</param-name>
      <param-value>2013-11-26 10:45</param-value>
    </init-param>
    <init-param>
      <param-name>breakMessageFormat</param-name>
      <param-value>{0} minutes left till next coffee break</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>PmCoffe</servlet-name>
    <servlet-class>com.acme.servlet.BreakServlet</servlet-class>
    <init-param>
      <param-name>breakTime</param-name>
      <param-value>2013-11-26 14:45</param-value>
    </init-param>
    <init-param>
      <param-name>breakMessageFormat</param-name>
      <param-value>{0} minutes left till next coffee break</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmCoffe</servlet-name>
    <url-pattern>/amcoffee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PmCoffe</servlet-name>
    <url-pattern>/pmcoffee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.acme.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.acme.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersServlet</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>com.acme.servlet.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FooterServlet</display-name>
    <servlet-name>FooterServlet</servlet-name>
    <servlet-class>com.acme.servlet.FooterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FooterServlet</servlet-name>
    <url-pattern>/footer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BreakTimeServlet</display-name>
    <servlet-name>BreakTimeServlet</servlet-name>
    <servlet-class>com.acme.servlet.time.BreakTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BreakTimeServlet</servlet-name>
    <url-pattern>/breaktime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NextBreak</display-name>
    <servlet-name>NextBreak</servlet-name>
    <servlet-class>com.acme.servlet.time.NextBreak</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NextBreak</servlet-name>
    <url-pattern>/nextBreak</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Headerservlet</display-name>
    <servlet-name>Headerservlet</servlet-name>
    <servlet-class>com.acme.servlet.Headerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Headerservlet</servlet-name>
    <url-pattern>/header</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EncodingTestServlet</display-name>
    <servlet-name>EncodingTestServlet</servlet-name>
    <servlet-class>com.acme.servlet.EncodingTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EncodingTestServlet</servlet-name>
    <url-pattern>/encoding</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.acme.servlet.InitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>DeleteBreakServlet</display-name>
    <servlet-name>DeleteBreakServlet</servlet-name>
    <servlet-class>com.acme.servlet.time.DeleteBreakServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBreakServlet</servlet-name>
    <url-pattern>/delete/*</url-pattern>
  </servlet-mapping>
</web-app>